nav{
   background-image: linear-gradient(to right top, #df67ef, #b64fc8, #8e37a3, #69207e, #46085b);}


.list-item,.logo{
   color: #fff;


}

a{
   text-decoration: none;
   padding: 10px;
}
ul{
   list-style: none;
   text-decoration: none;
}